<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        /* background-color: #f4f4f4; */
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #333;
        position: relative;
        overflow: hidden;
      }

      body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("pics/mens-ware.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
      }

      .container {
        background-color: #fff;
        padding: 3rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        width: 350px;
        text-align: left;
      }

      h1 {
        margin-bottom: 2rem;
        color: #e6e;
        font-size: 2rem;
        text-align: center;
      }

      form {
        display: grid;
        gap: 1.5rem;
      }

      input {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 1rem;
        transition: border-color 0.3s;
      }

      input:focus {
        border-color: #e6e;
        outline: none;
      }

      button {
        padding: 1rem;
        background-color: #e6e;
        border: none;
        border-radius: 8px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      button:hover {
        background-color: #e6e;
      }

      p {
        margin-top: 1rem;
        color: #e74c3c;
        text-align: center;
      }

      .register-link {
        display: block;
        text-align: center;
        margin-top: 2rem;
        color: #e6e;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;
      }

      .register-link:hover {
        color: #e5e;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <p><%= message %></p>
      <a class="register-link" href="/register">Register</a>
    </div>
  </body>
</html>
